@import url('https://fonts.googleapis.com/css?family=Pinyon+Script:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One:regular,bold,italic&subset=latin,latin-ext');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-family: 'Pinyon Script';
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.Date-text {
  font-family: 'Alfa Slab One';
  color: #CC0000;
  font-weight: 500;
  font-variant: small-caps;
}

.Links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-family: 'Alfa Slab One';
  font-size: 32px;
  width: calc(min(80vw, 600px));
  justify-content: space-between;
  white-space: nowrap;
}

.Sponsor-Links {
  margin-top: 12px;
}

.Sponsor-Us {
  width: 100%;
  justify-content: center;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  text-decoration: none;
  background-color: #CC0000;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #CC0000;
}

@media screen and (max-width: 670px) {
  .Links {
    flex-direction: column;
  }
  .App-header {
    font-size: 46px;
  }
  .Sponsor-Us {
    width: auto;
    justify-content: flex-start;
  }
}

a:hover {
  background-color: #DD0000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
