@import url('https://fonts.googleapis.com/css?family=Pinyon+Script:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One:regular,bold,italic&subset=latin,latin-ext');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-family: 'Pinyon Script';
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.Date-text {
  font-family: 'Alfa Slab One';
  color: #CC0000;
  font-weight: 500;
}

.Links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-family:'Times New Roman', Times, serif;
  font-size: 32px;
  width: calc(min(80vw, 600px));
  justify-content: space-between;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  background-color: #CC0000;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
